<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Laravel" stopProcessing="true">
                    <match url=".*" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.php/{R:0}" />
                </rule>
            </rules>
        </rewrite>
        <directoryBrowse enabled="true" />
        <handlers>
            <remove name="php-7.4.0" />
            <remove name="php-7.3.2" />
            <add name="php-7.3.2" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\xampp\php\php-cgi.exe" resourceType="Either" requireAccess="Script" />
            <add name="php-7.4.0" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\PHPS\7.4\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
